In [1]:
import pandas as pd

data = {'apples': [30],
'banana': [21]}

df = pd.DataFrame(data)

print(df)

   apples  banana
0      30      21

In [2]:
import pandas as pd

data = {'apples': [35, 41],
'banana': [21, 34]}

index = ['2017 sales', '2018 sales']

df = pd.DataFrame(data, index=index)

print(df)

            apples  banana
2017 sales      35      21
2018 sales      41      34

In [4]:
import pandas as pd

data = {'Flour': '4 cups',
'Milk': '1 cup',
'Eggs': '2 large',
'Spam': '1 can'}

series = pd.Series(data, name='Dinner')

print(series)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [5]:
 import pandas as pd
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True