In [2]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [4]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [5]:
var= "James Bond"
print(var[2::-1])

maJ

In [6]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [7]:
str = "pynative"
print (str[1:3])

yn

In [8]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1,"Vicki") 
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

In [9]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

In [10]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [11]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [12]:

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [13]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [14]:
L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']